@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.hero {
  margin: 0 auto;
  background-color: $primary1;

  &__banner-container {
    @include flex(center, center, column);
    height: 100vh;
  }

  &__title {
    @include font-source(3.4375rem, 400);
    font-family: optic;
  }

  &__scroll-container {
    @include flex(center, center, column);
    color: $primaryText;
    position: relative;
    top: 6.25rem;
  }
}

@include tablet {
  .hero {
    &__title {
      @include font-source(6.25rem, 400);
    }

    &__title-full {
      position: relative;
      right: 9.375rem;
    }

    &__title-stack {
      position: relative;
      left: 12.5rem;
    }

    &__scroll-container {
      top: 3.125rem;
    }
  }
}

@include desktop {
  .hero {
    &__title {
      @include font-source(9.375rem, 400);
    }

    &__scroll-container {
      animation: bounce 2s ease infinite;
    }

    @keyframes bounce {
      0%,
      20%,
      50%,
      80%,
      100% {
        transform: translateY(0);
      }
      40% {
        transform: translateY(-20px);
      }
      60% {
        transform: translateY(-15px);
      }
    }
  }
}
