@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.portfolio {
  &__layer {
    margin: 0 2.5rem;
  }

  &__title {
    @include font-source(3.4375rem, 400);
    text-align: center;
    flex-wrap: wrap;
    font-family: optic;
    margin: 3.75rem 0;
  }

  &__number {
    @include font-source(1.875rem, 400);
    font-family: optic;
    margin-top: 1.25rem;
  }

  &__project-name {
    margin: 0.3125rem 0 0.9375rem;
  }

  &__tech-stack-list {
    @include flex(flex-start, center);
    flex-wrap: wrap;
    margin: 0.9375rem 0;
  }

  &__tech-stack-item {
    margin-right: 0.9375rem;
  }

  &__image--hover {
    @include height-width(100%, 100%);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    max-width: 18.75rem;
    object-fit: cover;
    border-radius: 5px;
  }

  &__external-link-list {
    @include flex(flex-start, center);
    margin: 1.5625rem 0 1.875rem;
  }

  &__link-item {
    @include font-source(0.9375rem, 600);
    color: $primaryText;
    margin-right: 0.9375rem;
    transition: all 0.2s ease-in-out;

    &--hover:hover {
      color: $primary2;
    }
  }

  &__divide--mobile-tablet {
    margin: 0 auto 0.625rem;
    border: none;
    background-color: $primaryText;
    color: $primaryText;
    border-radius: 5px;
    height: 0.0938rem;
    max-width: 43.75rem;
  }
}

@include tablet {
  .portfolio {
    &__layer {
      margin: 0 4.375rem;
    }
    &__projects__list {
      text-align: center;
    }

    &__title {
      @include font-source(5.625rem, 400);
    }

    &__description,
    &__tech-stack-item {
      @include font-source(1.25rem, 400);
    }

    &__link-item {
      @include font-source(1.25rem, 600);
    }

    &__tech-stack-list {
      justify-content: center;
    }

    &__external-link-list {
      justify-content: center;
    }

    &__image--hover {
      @include height-width(100%, 100%);
      max-width: 21.875rem;
    }
  }
}

@include desktop {
  .portfolio {
    &__layer {
      margin: 0 6.875rem;
    }

    &__projects__list {
      text-align: start;
    }

    &__list-item {
      @include flex(space-between, center);
      margin-bottom: 1.5625rem;
    }

    &__tech-stack-list {
      justify-content: start;
    }

    &__description {
      width: 43.75rem;
    }

    &__image--hover {
      transition: 0.3s ease-in-out;
      cursor: pointer;

      &:hover {
        transform: scale(1.1);
      }
    }

    &__divide--mobile-tablet {
      display: none;
    }
  }
}
