@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.about {
  margin-top: -100px;

  &__layer {
    position: relative;
    margin: 0 2.5rem;
    padding: 1.25rem 0;
  }

  &__title {
    @include font-source(55px, 400);
    font-family: optic;
    position: relative;
    top: 6.25rem;
  }

  &__image {
    @include height-width(100%, 100%);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    max-width: 50rem;
    object-fit: cover;
    margin-bottom: 1.25rem;
  }

  &__text {
    margin-bottom: 0.9375rem;
  }

  &__text-highlight {
    @include font-source(30px, 700);
    font-family: optic;
  }

  &__lusengo-photography {
    color: $primaryText;

    &:hover {
      border-bottom: 3px solid $primary1;
    }
  }

  &__divide {
    text-align: center;
    font-size: 25px;
    margin-bottom: 3.125rem;
  }
}

@include tablet {
  .about {
    &__title {
      @include font-source(100px, 400);
      top: 10rem;
    }

    &__text {
      @include font-source(15px, 400);
      max-width: 50rem;
      margin: 0 3.125rem 1.25rem;
    }
  }
}

@include desktop {
  .about {
    &__layer {
      @include flex(space-evenly, center);
    }

    &__text-container {
      margin-top: 12.5rem;
    }

    &__text {
      @include font-source(18px, 400);
      width: 31.25rem;
    }
  }
}
