// Resets & Global Styles
@use "./styles/partials/typography" as *;
@use "./styles/partials/mixins" as *;
@use "./styles/partials/variables" as *;

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "founders", serif;
  color: $primaryText;
}

ol,
ul {
  list-style: none;
}

li,
a {
  text-decoration: none;
}

p {
  line-height: 1.4;
}
